<div class="ckeckout">
    <div class="container">
        <div class="ckeckout-top">
            <div class=" cart-items heading">
                <h3>{{ 'CART.SHOPPING_BAG' | translate }} ({{ vm.cart.items.length }})

                </h3>

                <div class="in-check" >
                    <ul class="unit">
                        <li><span>{{ 'CART.ITEM' | translate }}</span></li>
                        <li><span>{{ 'CART.PRODUCT_NAME' | translate }}</span></li>
                        <li><span>{{ 'CART.UNIT_PRICE' | translate }}</span></li>
                        <li><span>{{ 'ITEM.QUANTITY' | translate }}</span></li>
                        <li><span>&nbsp;</span> </li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="cart-header" ng-repeat="item in vm.cart.items">
                        <li class="ring-in">
                            <a ui-sref="item({itemId: item.id})" >
                                <img src="{{ item.thumbnail }}" class="img-responsive" alt="">
                            </a>
                        </li>
                        <li><span>{{ item[lang].title }}</span></li>
                        <li>
                            <span class="reducedfrom" ng-if="item.discount">
                                    {{ 'CURRENCY' | translate }} {{ item[lang].price }}
                            </span>
                            <span class="actual item_price" ng-class="{redTxt: item.discount}">
                                {{ 'CURRENCY' | translate }}
                                {{ item[lang].price -  item[lang].price * (item.discount / 100) }}
                            </span>
                        </li>
                        <li><span>{{ item.quantity }}</span></li>
                        <li>
                         <md-button aria-label="Remove" ng-click="vm.cart.remove(item)"
                                    class="md-fab md-mini redBtn floatRight">
                             <i class="fa fa-times" aria-hidden="true"></i>
                        </md-button></li>
                        <div class="clearfix"> </div>
                    </ul>

                    <span class="">{{ 'CART.TOTAL' | translate }} {{ 'CURRENCY' | translate }} {{ vm.total(lang) }}</span>
                    <md-button href="" class="floatRight md-raised greenBtn" ng-click="vm.showOrderDialog()">{{ 'CART.ORDER' | translate }}</md-button>
                </div>
            </div>
        </div>
    </div>
</div>