<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a ui-sref="home">{{ 'HEADER.HOME' | translate }}</a></li>
                <li class="active">{{ item.item_class_detail[lang] }}</li>
                <li class="active">{{ item[lang].title }}</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="sngl-top" flexslider>
                    <div class="col-md-5 single-top-left">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <a href="{{ item.main_pic }}" class="zoom" image-popup>
                                        <img src="{{ item.main_pic }}" />
                                    </a>
                                </li>

                                <li ng-repeat="img in item.item_images">
                                    <a href="{{ img }}" class="zoom" image-popup>
                                        <img src="{{ img }}" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ item.main_pic }}" />
                                </li>

                                <li ng-repeat="img in item.item_images">
                                    <img src="{{ img }}" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="details-left-info simpleCart_shelfItem">
                            <h3>{{ item[lang].title }}</h3>
                            <div class="price_single">
                                <span class="reducedfrom" ng-if="item.discount">
                                    {{ 'CURRENCY' | translate }} {{ item[lang].price }}
                                </span>
                                <span class="actual item_price">
                                    {{ 'CURRENCY' | translate }}
                                    {{ item[lang].price -  item[lang].price * (item.discount / 100) }}
                                </span>
                                <span class="actual item_price">{{ daysLeft(item.discount_end) }}</span>
                            </div>
                            <h2 class="quick">{{ 'ITEM.QUICK_OVERVIEW' | translate }}</h2>
                            <p class="quick_desc">{{ item[lang].description }}</p>
                            <ul class="size" ng-if="!isInCart(item)">
                                <h3>{{ 'ITEM.LENGTH' | translate }}</h3>
                                <li
                                 ng-repeat="size in ::sizeRange(item.item_class_detail.min_size,
                                 item.item_class_detail.max_size,
                                 item.item_class_detail.step)" class="bottomFar">
                                    <a ng-class="{greenBtn: size == item.length}"
                                       href="" ng-click="item.length = size">
                                        {{ size }}
                                    </a>
                                </li>
                            </ul>
                            <div class="quantity_box" ng-if="!isInCart(item)">
                                <ul class="product-qty">
                                    <span>{{ 'ITEM.QUANTITY' | translate }}</span>
                                    <select ng-model="item.quantity"
                                            ng-options="number as number for number in numbers track by number">
                                    </select>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>

                            <div class="single-but item_add" ng-if="!isInCart(item)">
                                <md-button class="md-raised greenBtn" ng-click="addToCart(item)">
                                    {{ 'ITEM.ADD_TO_CART' | translate }}
                                </md-button>
                            </div>
                            <div class="single-but item_add" ng-if="isInCart(item)">
                                <md-button class="md-raised redBtn" ng-click="removeFromCart(item)">
                                    {{ 'ITEM.REMOVE_FROM_CART' | translate }}
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="latest products">
                    <div class="product-one">
                        <div class="col-md-4 product-left single-left" ng-if="$index < 3" ng-repeat="item in similarItems track by $index">
                            <div class="p-one simpleCart_shelfItem">

                                <a ui-sref="item({itemId: item.id})">
                                    <img src="{{ item.main_pic }}" alt="" />
                                    <div class="mask mask1">
                                        <span>{{ 'HOME.QUICK_VIEW' | translate }}</span>
                                    </div>
                                </a>
                                <h4>{{ item[lang].title }}</h4>
                                <p><a class="item_add"><i></i> <span class=" item_price">{{ item[lang].price }}</span></a></p>

                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 single-right">
                <h3>{{ 'MENU.TYPES' | translate }}</h3>
                <ul class="product-categories p1">
                    <li ng-repeat="type in types track by $index">
                        <a ui-sref="menu({typeId: type.id})">{{ type[lang] }}</a>
                    </li>

                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>