<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a ui-sref="home">Home</a></li>
                <li class="active">{{ item.item_class_detail[lang] }}</li>
                <li class="active">{{ item[lang].title }}</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="sngl-top" flexslider>
                    <div class="col-md-5 single-top-left">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ item.main_pic }}" />
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ item.main_pic }}" />
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="details-left-info simpleCart_shelfItem">
                            <h3>{{ item[lang].title }}</h3>
                            <div class="price_single">
                                <span class="reducedfrom" ng-if="item.discount">{{ item[lang].price }}</span>
                                <span class="actual item_price">{{ item[lang].price -  item[lang].price * (item.discount / 100) }}</span><a href="#">click for offer</a>
                            </div>
                            <h2 class="quick">Quick Overview:</h2>
                            <p class="quick_desc">{{ item[lang].description }}</p>
                            <ul class="size">
                                <h3>Length</h3>
                                <li><a href="#">7</a></li>
                                <li><a href="#">6</a></li>
                            </ul>
                            <div class="quantity_box">
                                <ul class="product-qty">
                                    <span>Quantity:</span>
                                    <select ng-model="item.quantity">
                                        <option value="1" selected="selected">1</option>
                                        <option ng-repeat="number in numbers" value="{{ number }}">{{ number }}</option>
                                    </select>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>

                            <div class="single-but item_add" ng-if="!isInCart(item)">
                                <input type="submit" value="add to cart" ng-click="addToCart(item)"/>
                            </div>
                            <div class="single-but item_add" ng-if="isInCart(item)">
                                <input type="submit" class="redBtn" value="remove from cart" ng-click="removeFromCart(item)"/>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="latest products">
                    <div class="product-one">
                        <div class="col-md-4 product-left single-left" ng-if="$index < 3" ng-repeat="item in similarItems track by $index">
                            <div class="p-one simpleCart_shelfItem">

                                <a href="#">
                                    <img src="{{ item.main_pic }}" alt="" />
                                    <div class="mask mask1">
                                        <span>{{ 'HOME.QUICK_VIEW' | translate }}</span>
                                    </div>
                                </a>
                                <h4>{{ item[lang].title }}</h4>
                                <p><a class="item_add" href="#"><i></i> <span class=" item_price">{{ item[lang].price }}</span></a></p>

                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 single-right">
                <h3>Price</h3>
                <ul class="product-categories p1">
                    <li><a href="#">600$-700$</a> <span class="count">(14)</span></li>
                    <li><a href="#">700$-800$</a> <span class="count">(2)</span></li>
                    <li><a href="#">800$-900$</a> <span class="count">(2)</span></li>
                    <li><a href="#">900$-1000$</a> <span class="count">(8)</span></li>
                    <li><a href="#">1000$-1100$</a> <span class="count">(11)</span></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>