<md-dialog aria-label="Order">
    <form name="orderForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-display-2">{{ 'ORDER.TITLE' | translate }}
                    ({{ vm.order.items.length }} {{ 'HEADER.ITEMS' | translate }} : {{ 'CURRENCY' | translate }}
                    {{ vm.total(vm.order.lang) }})
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <p>{{ 'ORDER.HEAD' | translate }}</p>
            <md-input-container>
                <label>{{ 'ORDER.YOUR_NAME' | translate }}</label>
                <input type="text" ng-model="vm.order.name" validator="required" name="name1">
            </md-input-container>

            <md-input-container>
                <label>{{ 'ORDER.YOUR_PHONE' | translate }}</label>
                <input type="text" ng-model="vm.order.phone" validator="required, phone" name="ph">
            </md-input-container>

            <md-input-container>
                <label>{{ 'ORDER.YOUR_ADDRESS' | translate }}</label>
                <input type="text" ng-model="vm.order.address" validator="required" name="addr">
            </md-input-container>

            <md-input-container>
                <label>{{ 'CART.DISCOUNT' | translate }}</label>
                <input type="text" ng-model="vm.promoCode" name="promoCode">
            </md-input-container>


        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="vm.postOrder()" validation-submit="orderForm">
                {{ 'ORDER.PLACE' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>