<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">{{ 'HEADER.HOME' | translate }}</a></li>
                <li class="active">{{ 'MENU.SEARCH' | translate}}</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-product-->
<div class="product">
    <div class="container">
        <div class="product-main">
            <div class="col-md-9 p-left">
                <div class="product-one">
                    <div class="col-md-4 product-left single-left" ng-repeat="item in items track by $index">
                        <div class="p-one simpleCart_shelfItem">
                            <a ui-sref="item({itemId: item.id})">
                                <img src="{{ item.main_pic }}" alt="" />
                                <div class="mask mask1">
                                    <span>{{ 'HOME.QUICK_VIEW' | translate }}</span>
                                </div>
                            </a>
                            <h4>{{ item[lang].title }}</h4>
                            <p>
                                <a class="item_add" href="#"><i></i>
                                    <span class=" item_price">
                                        {{ 'CURRENCY' | translate }}
                                        {{ item[lang].price }}
                                    </span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 p-right single-right" ng-if="types && types.length">
                <h3>{{ 'MENU.TYPES' | translate }}</h3>
                <ul class="product-categories p1">
                    <li ng-repeat="type in types track by $index">
                        <a ui-sref="menu({typeId: type.id})">{{ type[lang] }}</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>