<md-dialog class="callee-confirmation" aria-label="Call notification">
    <form>
        <md-dialog-content class="sticky-container">
            <div>
                <p>{{ 'TOASTS.ORDER_HEAD' | translate }}</p>
            </div>
            {{ 'TOASTS.ORDER_SUCCESS' | translate }}
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">
                {{ 'TOASTS.CLOSE' | translate }}
            </md-button>
        </div>
    </form>
</md-dialog>
